
/* ---------------------- */

body
{
  background-image: url("Untitled-1.png");
  overflow-x: hidden;
}
h1
{
  text-align: center;
  font-weight: bold;
}

h2
{
  text-align: center;
  font-size: 12px;
  margin-top: -25px;
}
a
{
  text-decoration-line: underline;
}